*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* .bg{
    position: relative;
    background-image: url("../Image/welcome.jpg");
    background-size: cover;
    height: 100vh;
} */

/* .gallery_body{
    background-image: url("../Image/welcome.jpg");
    background-size: cover;
    height:auto;
} */
/* .show{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50%; */
/* } */ */

/* .gallery{
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-width: 20%;
    -moz-column-width: 20%;
    column-width: 20%;
    padding:0 1px ;
} */

/* .gallery .pics{
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    transition: all 350ms ease;
} */


/* .pics{
    height: 100vh;
}

.gallery .pics:hover{
   filter: opacity(.8);
} */

/* @media(max-width:991px) {
    .gallery{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

} */

/* @media(max-width:490px)
{
    .gallery{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
        /* padding:0 12px ; */
    /* } */
/* } */ */


/* model */

.model{
    width: auto;
    height: auto;
    position: fixed;
    /* top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;  */
    transition: opacity .4s ease ,visibility .4s ease,transform .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;

}

.model.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.model img{
    width: auto;
    /* max-width: 100%; */
    height: auto;
    /* max-height: 100%; */
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
}


.model.open svg{
    /* top: 10px; */
    /* right: 10px; */
    width: auto;
    height: auto;
    /* padding: 5px; */
    background-color: rgb(0, 0,0,0.4);
    color: #ffffff;
    cursor: pointer;
}

/* .card_gallery{
    box-shadow: 20px 20px 20px 20px;
} */

.span{
    cursor: pointer;
}